header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.header__img {
  width: 160px;
  height: 70px;
  object-fit: fill;
}

.header__dropdown {
  width: 20vw;
}
