.app {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 0 1rem;
}
.app__left {
  flex: 0.9;
}

@media screen and (max-width: 960px) {
  .app {
    flex-direction: column;
  }
}
